@import "../../style/variable";

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;

  @include desktop-screen {
    flex-direction: row;
  }

  h1 {
    padding-bottom: 2rem;

    @include desktop-screen {
      padding: 0;
    }
  }

  .form-btn-in {
    width: 250px;
    position: relative;

    .input {
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 1rem;
      text-align: left;
      width: 100%;
    }

    .form-btn {
      position: absolute;
      top: 0;
      right: -5px;
      padding: 0.5rem 2rem;
      border-radius: 1rem;
      border: none;
      background: $gradientBtn;
      cursor: pointer;
      color: $lightGray;

      &:hover {
        //   opacity: 0.8;
        transform: scale(1.1);
        box-shadow: 1px 1px 5px 1px $black;
      }
    }
  }
}
