@import "../../style/variable";

.btn-top {
  position: fixed;
  right: 50px;
  bottom: 10px;
  padding: 1rem;
  border-radius: 5rem;
  border: none;
  cursor: pointer;
  background: $gradientBtn;
  color: $lightGray;
  z-index: 2;
}
